<nav class="navbar navbar-default myNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Field Notes" src="...">
      </a>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
<div class="entryCard col-sm-4">
  Site Locality<br>
  <input ng-model="entryObject.siteLocality" type="text" name="Site Locality"><br>
  Field No.<br>
  <input ng-model="entryObject.fieldNo" type="text" name="Field No."><br>
  Date<br>
  <input ng-model="entryObject.date" type="text" name="Date"><br>
  WP<br>
  <input ng-model="entryObject.wp" type="text" name="WP"><br>
  Start Time<br>
  <input ng-model="entryObject.startTime" type="text" name="Start Time"><br>
  Stop Time<br>
  <input ng-model="entryObject.stopTime" type="text" name="Stop Time"><br>
  Surveyors<br>
  <input ng-model="entryObject.surveyors" type="text" name="Surveryors"><br>
  Coordinates<br>
  <input ng-model="entryObject.coordinates" type="text" name="Coordinates"><br>
  Underwater Visibilty<br>
  <input ng-model="entryObject.underwaterVis" type="text" name="Underwater Visibility (ft)"><br>
  Width Min<br>
  <input ng-model="entryObject.widthMin" type="text" name="min"><br>
  Width Max<br>
  <input ng-model="entryObject.widthMax" type="text" name="max"><br>
  Width Avg<br>
  <input ng-model="entryObject.widthAvg" type="text" name="avg"><br>
  Depth Min<br>
  <input ng-model="entryObject.depthMin" type="text" name="min"><br>
  Depth Max<br>
  <input ng-model="entryObject.depthMax" type="text" name="max"><br>
  Depth Avg<br>
  <input ng-model="entryObject.depthAvg" type="text" name="avg"><br>
  Channel Riparian Structure<br>
  <input ng-model="entryObject.channelRipStr" type="text"><br>
  Steambank Erosion<br>
  <input ng-model="entryObject.sBankErosion" type="text"><br>
  Notable Features at this Site<br>
  <textarea ng-model="entryObject.notableFeats" rows="10" cols="50"></textarea><br>
  Weather Conditions<br>
  <textarea ng-model="entryObject.weather" rows="10" cols="50"></textarea><br>
  Sand<br>
  <input ng-model="entryObject.sand" type="text" name="sand"><br>
  Gravel<br>
  <input ng-model="entryObject.gravel" type="text" name="gravel"><br>
  Cobble<br>
  <input ng-model="entryObject.cobble" type="text" name="cobble"><br>
  Boulder<br>
  <input ng-model="entryObject.boulder" type="text" name="boulder"><br>
  Bedrock<br>
  <input ng-model="entryObject.bedrock" type="text" name="bedrock"><br>
  Detritus<br>
  <input ng-model="entryObject.detritus" type="text" name="cobble"><br>
  Other Notes<br>
  <textarea ng-model="entryObject.notes" rows="10" cols="50"></textarea><br>
  <a class="btn btn-sm" role="button" ng-click="addEntry(entryObject)">Add Entry</a>
</form>
</div>
</div>
</div>
</div>


<div class="container">
  <div class="row">
<div class="entryCard col-sm-4" ng-repeat="entry in entries">
  <p><h6>General Information</h6>Location: {{entry.siteLocality}}<br>
  Field Number: {{entry.fieldNo}}<br>
  Date: {{entry.date}}<br>
  WP: {{entry.wp}}<br>
  Start Time: {{entry.startTime}}<br>
  Stop Time: {{entry.stopTime}}<br>
  Surveyors: {{entry.surveyors}}<br>
  Coordinates {{entry.coordinates}}</p>
  <p><h6>Details</h6>Underwater Visibility: {{entry.underwaterVis}}
  Width Min: {{entry.widthMin}}<br>
  Width Max: {{entry.widthMax}}<br>
  Width Avg: {{entry.widthAvg}}<br>
  Depth Min: {{entry.depthMin}}<br>
  Depth Max: {{entry.depthMax}}<br>
  Depth Avg: {{entry.depthAvg}}<br>
  Channel Ripirain Structure: {{entry.channelRipStr}}<br>
  Steambank Erosion: {{entry.sBankErosion}}<br>
  Notable Features: {{entry.notableFeats}}<br>
  Weather Conditions: {{entry.weather}}</p>
  <h6>Substrates</h6>
  <p>Sand: {{entry.sand}}<br>
  Gravel: {{entry.gravel}}<br>
  Cobble: {{entry.cobble}}<br>
  Boulder: {{entry.boulder}}<br>
  Bedrock: {{entry.bedrock}}<br>
  Detritus: {{entry.detritus}}<br>
  Other Notes: {{entry.notes}}</p>
  <a class="btn btn-sm" role="button" ng-click="deleteEntry(entry.id)">Delete</a>
  </div>
</div>
</div>
</div>
