body {
  background-color: lightblue;
}

.entryCard {
  padding-left: 2em;
  border-style: solid;
  height: 200px;
  font-size: .8rem;
  overflow: scroll;
}

.myNav {
  background-color: lightgrey;
}
